<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ReactNativeStarter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>premium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>premium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>holiday</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>holiday</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>christmas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>christmas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>diwali</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>diwali</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>diwali-gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>diwali-gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>christmas-gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>christmas-gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>holi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>holi</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>holi-gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>holi-gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>halloween</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>halloween</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>halloween-gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>halloween-gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newyear</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newyear</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newyear-gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newyear-gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
